<div class="body-container">
  <div class="main-currency-container container-secondary center">
    <app-currency
      *ngFor="let currencyObj1 of curArr1"
      [currencyObj]="currencyObj1"
      (click)="changeCurrencyStatus(currencyObj1)"
    >
      <!-- -->
    </app-currency>
    <app-add-currency></app-add-currency>
    <div class="to-container round-container center"><p>to</p></div>
  </div>
  <div class="convert-to-container container-secondary center">
    <app-currency
      *ngFor="let currencyObj2 of curArr2"
      [currencyObj]="currencyObj2"
      (click)="changeCurrencyStatus(currencyObj2)"
    >
    </app-currency>
    <app-add-currency></app-add-currency>
  </div>

  <div class="result-mian-container container-secondary center">
    <div class="result-container center">
      <label for="#amount">CUR Amount:</label>
      <input type="number" id="#amount" [(ngModel)]="value" />
    </div>
    <div
      class="equality-container round-container center"
      (click)="reverseStatus()"
    >
      <p>is</p>
    </div>
    <div class="result-container center">
      <p class="result-paragraph">
        {{ "123" | currency }}
      </p>
    </div>
  </div>
</div>

<app-modal></app-modal>
