<div class="body-container">
  <div class="relative">
    <div class="main-currency-container line_1 container-secondary center">
      <app-currency
        *ngFor="let currencyObj1 of exchangeService.currencyLine1.currencies"
        [currencyObj]="currencyObj1"
        (click)="
          exchangeService.changeCurrencyStatus(
            currencyObj1,
            exchangeService.currencyLine1
          )
        "
      >
      </app-currency>
    </div>

    <div
      class="to-container add-currency-container round-container center"
      (click)="modalService.open()"
    >
      <app-add-currency></app-add-currency>
    </div>
  </div>
  <div class="convert-to-container line_2 container-secondary center">
    <app-currency
      *ngFor="let currencyObj2 of exchangeService.currencyLine2.currencies"
      [currencyObj]="currencyObj2"
      (click)="
        exchangeService.changeCurrencyStatus(
          currencyObj2,
          exchangeService.currencyLine2
        )
      "
      (click)="refresh()"
    >
    </app-currency>
  </div>

  <div class="result-mian-container container-secondary center">
    <div class="result-container input-container center">
      <label for="#amount">{{ exchangeService.activeCurrency1 }} Amount:</label>
      <input type="number" name="input" id="#amount" [(ngModel)]="input" />
    </div>
    <div
      class="equality-container round-container center"
      (click)="exchangeService.reverseStatus()"
      (click)="refresh()"
    >
      <svg
        width="80px"
        height="80px"
        viewBox="0 0 21 21"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          fill="none"
          fill-rule="evenodd"
          stroke="#000000"
          stroke-linecap="round"
          stroke-linejoin="round"
          transform="translate(3 3)"
        >
          <path d="m6.5 6.5-4 4 4 4" />
          <path d="m14.5 10.5h-12" />
          <path d="m8.5.5 4 4-4 4" />
          <path d="m12.5 4.5h-12" />
        </g>
      </svg>
    </div>
    <div class="result-container result line_1">
      <p class="result-paragraph">
        {{
          loading === false
            ? (exchangeService
                .currCalc(
                  data,
                  exchangeService.activeCurrency1,
                  exchangeService.activeCurrency2,
                  input,
                  reverse
                )
                .toFixed(2) | number : "1.2-4") +
              exchangeService.activeCurrency2
            : "Loading.."
        }}
      </p>
    </div>
  </div>
</div>
