<div class="body-container">
  <div class="main-currency-container container-secondary center">
    <app-currency
      *ngFor="let currencyObj1 of curArr1"
      [currencyObj]="currencyObj1"
      (click)="changeCurrencyStatus(currencyObj1)"
    >
    </app-currency>

    <div
      class="to-container add-currency-container round-container center"
      (click)="modalService.open()"
    >
      <app-add-currency></app-add-currency>
    </div>
  </div>
  <div class="convert-to-container container-secondary center">
    <app-currency
      *ngFor="let currencyObj2 of curArr2"
      [currencyObj]="currencyObj2"
      (click)="changeCurrencyStatus(currencyObj2)"
    >
    </app-currency>
  </div>

  <div class="result-mian-container container-secondary center">
    <div class="result-container center">
      <label for="#amount">{{ activeCurrency1 }} Amount:</label>
      <input type="number" id="#amount" [(ngModel)]="value" />
    </div>
    <div
      class="equality-container round-container center"
      (click)="reverseStatus()"
    >
      <svg
        width="80px"
        height="80px"
        viewBox="0 0 21 21"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          fill="none"
          fill-rule="evenodd"
          stroke="#000000"
          stroke-linecap="round"
          stroke-linejoin="round"
          transform="translate(3 3)"
        >
          <path d="m6.5 6.5-4 4 4 4" />
          <path d="m14.5 10.5h-12" />
          <path d="m8.5.5 4 4-4 4" />
          <path d="m12.5 4.5h-12" />
        </g>
      </svg>
    </div>
    <div class="result-container center">
      <p class="result-paragraph">
        {{ "123" + activeCurrency2 }}
      </p>
    </div>
  </div>
  <app-modal
    *ngIf="modalService.isVisible$ | async"
  ></app-modal>
</div>
