<div class="modal-container center" (click)="modalService.close()"></div>
<div class="modal-window">
  <h2 class="modal-title">add currencies</h2>
  <div class="currencies-container">
    <app-currency
      *ngFor="let currencyObj of exchangeService.availableCurrencyArray"
      [currencyObj]="currencyObj"
      (click)="prepareToAdd(currencyObj)"
    >
    </app-currency>
  </div>
  <div class="button-container center">
    <button
      class="add-currencies"
      (click)="exchangeService.updateLists(tempCurrList)"
      (click)="updateCurrencies()"
      (click)="modalService.close()"
    >
      {{ tempCurrList.length === 0 ? "back" : "add to list" }}
    </button>
  </div>
</div>
