.currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  p {
    font-size: 4rem;
    text-transform: capitalize;
  }
  p + p {
    font-size: 1.2rem;
    text-align: center;
  }
}
