.app {
  background-color: #373f51;
  min-height: 100dvh;
  min-height: 100dvh;
}

.main-container {
  padding: 2rem 12rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-header {
  font-size: 3.6rem;
  color: #f8f9fa;
  font-weight: 400;
}

.footer {
  font-size: 0.8rem;
  padding-top: 6rem;
  color: #f8f9fa;
}
