.currency {
  width: 16rem;
  height: 12rem;
  border-radius: 2rem;
  background-color: #edf2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px #868e96 solid;
  transition: all ease 0.5s;
  cursor: pointer;
  p {
    font-size: 4rem;
    text-transform: capitalize;
  }
  p + p {
    font-size: 1.2rem;
    text-align: center;
  }

  &:hover {
    transform: scale(1.03);
    transform: translateY(-0.2rem);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  }
}

.currency_active {
  color: black;
  background-color: #8ce99a;
  border: 2px black solid;
}

.currency_disabled,
.currency_disabled:hover {
  color: grey;
  background-color: #f1f3f5;
  transform: scale(1);
  transform: translateY(0rem);
  box-shadow: none;
  cursor: not-allowed;
}

@media (max-width: 62.5em) {
  .currency {
    transform: scale(0.9);
    &:hover {
      transform: scale(0.95);
    }
  }

  .currency_disabled:hover {
    &:hover {
      transform: scale(0.9);
    }
  }
}
